@font-face {
    font-family: "JetBrains Mono";
    src: url(fonts/JetBrainsMono-Regular.ttf) format("truetype");
}

body {
    background-color: rgb(8, 8, 8);
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    margin: 0px;
}

div.main {
    background-color: rgb(14, 14, 14);
    margin: 0.5% auto 0.5% auto;
    padding: 0.5em 2em 0.5em 2em;
    word-wrap: break-word;
    max-width: 600px;
    border: 1px solid azure;
    border-radius: 10px;
}

ul#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background: rgb(14, 14, 14);
    width: 100%;
}

ul#nav li {
    float: left;
}

ul#nav li.right {
    float: right;
}

ul#nav li a {
    display: block;
    padding: 5px 6px;
    color: #fafafa;
    text-decoration: none;
}

ul#nav li a:not(.disabled, .active):hover {
    background: linear-gradient(rgb(0, 210, 255), rgb(43, 114, 255));
}

@media screen and (max-width: 600px) {
    ul#nav li.right, 
    ul#nav li {
        float: none;
        margin-bottom: 1px;
    }
    ul#nav li:last-child {
        margin-bottom: none;
    }
    ul#nav {
        list-style-type: none;
        margin: 0;
        margin-bottom: 10px;
        padding: 0;
        overflow: auto;
        background: rgb(14, 14, 14);
        width: 100%;
    }
}

a:link {
    color: rgb(0, 210, 255);
    text-decoration: none;
}

a:visited {
    color: rgb(43, 114, 255);
    text-decoration: none;
}

h3 {
    text-align: center;
}

.warn {
    color: rgb(228, 196, 54);
}

.font-small {
    font-size: small;
}

.italic {
    font-style: italic;
}

.super {
    vertical-align: super;
}

.monospace {
    font-family: 'JetBrains Mono','Courier New', Courier, monospace;
}

.centerflex {
    padding: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.vix-gradient {
    background: linear-gradient(rgb(0, 210, 255), rgb(43, 114, 255));
}

.disabled {
    background: rgb(83, 83, 83);
}

.text-bgoverlay-color {
    background-clip: text;
    color: rgba(0,0,0,0);
}

.active {
    background: rgb(0, 210, 255);
}

.available {
    background: rgb(43, 114, 255);
}

.center-text {
    text-align: center;
}

.p-4 {
    padding: 0.5rem;
}

.m-px-0101 {
    margin: 0 1px 0 1px;
}

a.button {
    padding: 3px 6px;
    color: #fafafa;
    text-decoration: none;
}