@font-face {
    font-family: "JetBrains Mono";
    src: url(fonts/JetBrainsMono-Regular.ttf) format("truetype");
}

body {
    background-color: rgb(34, 34, 36);
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
}

div.main {
    background-color: rgb(60, 60, 60);
    margin: 0.5% auto 0.5% auto;
    padding: 0.5em 2em 0.5em 2em;
    word-wrap: break-word;
    max-width: 600px;
}

a:link {
    color: rgb(0, 210, 255);
    text-decoration: none;
}

a:visited {
    color: rgb(43, 114, 255);
    text-decoration: none;
}

h3 {
    text-align: center;
}

.warn {
    color: rgb(228, 196, 54);
}

.font-small {
    font-size: small;
}

.italic {
    font-style: italic;
}

.super {
    vertical-align: super;
}

footerText {
    font-size: small;
}

.monospace {
    font-family: 'JetBrains Mono','Courier New', Courier, monospace;
}

.centerflex {
    padding: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.vix-gradient {
    background: -webkit-linear-gradient(rgb(0, 210, 255), rgb(43, 114, 255));
}

.disabled-gradient {
    background: -webkit-linear-gradient(rgb(202, 202, 202), rgb(83, 83, 83));
}

.warning-gradient {
    background: -webkit-linear-gradient(rgb(228, 196, 54), rgb(219, 153, 77));
}

.text-color {
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.center-text {
    text-align: center;
}

.p-4 {
    padding: 0.5rem;
}

.m-px-0101 {
    margin: 0 1px 0 1px;
}

a.button {
    padding: 3px 6px;
    color: #fafafa;
    text-decoration: none;
}