---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import Card from "../components/Card.astro";

const allPosts = await getCollection("blog");
---

<BaseLayout pageTitle="Blog Records" ogTitle="Blog Records" ogDesc="Listing of all blog posts on this website.">
  <Card title="Blog Records"> Here you will find all blog entries I've written. </Card>
  <div class="grid p-3 gap-3 grid-cols-1 md:grid-cols-2">
    {allPosts.map((post: any) => <BlogPost url={`/posts/${post.id}`} frontmatter={post.data} />)}
  </div>
</BaseLayout>
