---

---
<div class="mt-5">
    <p class="self-center text-center text-xs text-gray-600 italic">Made with Pain and Suffering</p>
    <p class="self-center text-center text-xs text-gray-600 italic">Oh and using Astro5, Vue3, and TailwindCSS4, Vite</p>
    <p class="self-center text-center text-xs text-gray-600 italic">Copyright VixelLexiblade 2025</p>
</div>