---

---

<div class="mt-5">
  <p class="self-center text-center text-xs text-gray-600 italic">Made with Pain and Suffering</p>
  <p class="self-center text-center text-xs text-gray-600 italic">
    Built with Astro and Tailwind CSS
  </p>
  <p class="self-center text-center text-xs text-gray-600 italic">©VixelLexiblade 2025</p>
</div>
