---


---

<div class="flex my-3 gap-x-12">
    <div class="self-center aspect-square ml-3 max-w-32 max-h-32 min-w-16 min-h-16 rounded-full overflow-hidden border-gray-600 border">
        <img src="https://cdn.discordapp.com/avatars/292250065559355392/543c2f291b20d68a76613758a6202e92?size=1024" alt="The latest drawing I have used as my icon." />
    </div>
    <div class="self-center flex-auto">
        <h1 class="text-3xl font-bold">Vixel Lexiblade</h1>
        <p class="text-sm italic">18 | UTC+8 | Multimedia Student | Hobbyist Dev</p>
    </div>
</div>