---
const { 
    href="/",
    title="Homepage" 
} = Astro.props;

---

<div class="ml-2 p-1.5 hover:outline-1 self-center hover:outline-cyan-200 bg-gray-900 min-w-15 text-center"><a href={href}>{title}</a></div>