---
const { href = "/", title = "Homepage", icon } = Astro.props;
---

<a href={href}>
    <div class="p-1.5
    hover:outline-1
    self-center
    hover:outline-cyan-200
    bg-gray-900
    min-w-15
    text-center
    rounded-md
    w-full
    md:w-auto"
    >
        {title}
    </div>
</a>
