---
import links from "../data/socialmedia.json";
import SocialMediaButton from "./SocialMediaButton.astro";
const images = import.meta.glob("../assets/icons/*.svg");
---

<div class="mt-3 p-3">
  <h2 class="text-2xl font-weight-bold">Offsite Links</h2>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-2 p-1.5">
    {links.map((link: any) => <SocialMediaButton link={link} images={images} />)}
  </div>
  <p class="socialDescriptionBox">Hover over any of the buttons to see the description.<noscript> (Wont work with JS disabled)</noscript></p>
</div>
